- if current_user.nil?
  - nav = [{:url => "/updates", :name => "World"}]
- else
  - notification_count = Notification.count(:read => false, :author_id => current_user.author_id)
  - nav = [{:url => "/", :name => "Timeline"}, {:url => "/replies", :name => "Replies"}, {:url => "/notifications", :name => "Notifications (#{notification_count})"}, {:url => "/updates", :name => "World"}]
- unless @hashtag.nil?
  - nav << {:url => "/hashtags/#{@hashtag}", :name => "##{@hashtag}"}
#navigation
  %ul
    - nav.each do |item|
      %li{:class => request.path_info == item[:url] ? "active" : ""}
        %a{:href => item[:url]}
          = item[:name]
