you have been mentioned on a

%a{:href =>"/users/#{notification.target.author.username}", :title => notification.target.author.name }
  == #{notification.target.author.username}'s

%a{:href=>"/updates/#{notification.target_id}", :title => notification.target.text}
  status
